<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
    	<!--  Microsoft SQL Server Connection -->
		<property name="connection.url">jdbc:mysql://192.168.1.81/dotproject?zeroDateTimeBehavior=convertToNull</property>
		<property name="connection.username">root</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="connection.password">mysql</property>		
		<!-- <property name="connection.datasource">java:jdbc/ZsdCmsPool</property>
		<property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>  -->

		<!-- <property name="connection.datasource"></property> -->		
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		
		<property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
					
		<property name="current_session_context_class">thread</property>
    	
    	<!-- this will show us all sql statements -->
		<property name="hibernate.show_sql">false</property>
    	
    	<!-- this will create the database tables for us -->
		<property name="hibernate.hbm2ddl.auto">false</property>
		
		<mapping resource="BOUser.hbm.xml"/>
		<mapping resource="BOProject.hbm.xml"/>
		<mapping resource="BOTask.hbm.xml"/>
		<mapping resource="BOContact.hbm.xml"/>
		<mapping resource="BOCompany.hbm.xml"/>
		<mapping resource="BOTaskLog.hbm.xml"/>
		<mapping resource="BOCustomField.hbm.xml"/>
		<mapping resource="BODepartment.hbm.xml"/>
		<mapping resource="BOFile.hbm.xml"/>
		
		<!-- event type="save-update">
			 <listener class="com.zycus.dotproject.persistence.db.hibernate.FileSaveUpdateListener" />			
		</event -->
		
	</session-factory>
	
</hibernate-configuration>